<style>
    .navSquare{
        background-color: white;
        width:60px;
        height:60px;
    }
</style>

<div class="navSquare">
<div class="navBar">
    <nav>
        <a href="/">Home</a>
    </nav>
    <nav>
        <a href="/signup">Sign up</a>
    </nav>
</div>
</div>