<style>
    .navSquare{
        background-color: white;
        width:60;
        height:flex;
        padding: 20%;
    }
</style>

<div class="navBar">
    <div class="navSquare">
            <nav>
                <a href="/">Home</a>
            </nav>
            <nav>
                <a href="/signup">Sign up</a>
            </nav>
            <nav>
                <a href="/upload">Upload</a>
            </nav>
    </div>
</div>