<!DOCTYPE html>
<html>
    <header>
        <title>404</title>
    </header>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <p>You just got 404'd</p>
    <%- include('./partials/footer.ejs') %>
</html>