<head>

</head>

<body>
<p2>WOO! :)</p2>

<form id="redirectMe" action="/goHome" method="post" type="hidden"></form>
<center>

    <img src="/images/login.gif">

</center>

<video width="320" height="240" controls>
    <source src="/films/badmeme.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
</video>

</body>

<script>
    var lastInteration = Date.now();
    document.addEventListener("click",resetTimer);
    document.addEventListener("keydown",resetTimer);

    function resetTimer(){
        lastInteration = Date.now();
    }

    function checkActivity(){
        if(Date.now() - lastInteration > 10000){
            document.getElementById("redirectMe").submit();
        }
    }

    setInterval(checkActivity,1000);
</script>

