<head>

</head>

<body>

<form id="redirectMe" action="/goHome" method="post" type="hidden"></form>

<center>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/dQw4w9WgXcQ">
    </iframe>
</center>

</body>

<script>
    var lastInteration = Date.now();
    document.addEventListener("click",resetTimer);
    document.addEventListener("keydown",resetTimer);

    function resetTimer(){
        lastInteration = Date.now();
    }

    function checkActivity(){
        if(Date.now() - lastInteration > 10000){
            document.getElementById("redirectMe").submit();
        }
    }

    setInterval(checkActivity,1000);
</script>

