<head>

</head>
<%- include('./partials/head.ejs') %>
<body>

<form id="redirectMe" action="/goHome" method="post" type="hidden"></form>

<!--<center>
    <a referrerpolicy="origin-when-cross-origin">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </a>
</body>
-->

<div class="slideshow-container">
        <a referrerpolicy="origin-when-cross-origin">
        <div class="mySlides fade">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= videoId %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </div>
        </a>
        <a referrerpolicy="origin-when-cross-origin">
          <div class="mySlides fade">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WIRK_pGdIdA" title="YouTube video player" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
          </div>
        </a>
        <a referrerpolicy="origin-when-cross-origin">
          <div class="mySlides fade">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JpQzMOhD5yE" title="YouTube video player" frameborder="0"  allow="encrypted-media" allowfullscreen></iframe>
          </div>
        </a>
        <a referrerpolicy="origin-when-cross-origin">
          <div class="mySlides fade">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"  allow="encrypted-media" allowfullscreen></iframe> 
          </div>
        </a> 

    <a class="prev" onclick="plusSlides(-1)">♿</a>
    <a class="next" onclick="plusSlides(1)">♿</a>
</div>

  <br>


<script>
    var lastInteration = Date.now();
    document.addEventListener("click",resetTimer);
    document.addEventListener("keydown",resetTimer);

    function resetTimer(){
        lastInteration = Date.now();
    }

    function checkActivity(){
        if(Date.now() - lastInteration > 10000){
            document.getElementById("redirectMe").submit();
        }
    }

    setInterval(checkActivity,1000);

// Begin Slider Carousel Thing


let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

