<head>

</head>

<body>

<form id="redirectMe" action="/goHome" method="post" type="hidden"></form>

<center>
    <a referrerpolicy="origin-when-cross-origin">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></center>
    </a>
</body>

<script>
    var lastInteration = Date.now();
    document.addEventListener("click",resetTimer);
    document.addEventListener("keydown",resetTimer);

    function resetTimer(){
        lastInteration = Date.now();
    }

    function checkActivity(){
        if(Date.now() - lastInteration > 10000){
            document.getElementById("redirectMe").submit();
        }
    }

    setInterval(checkActivity,1000);
</script>

