<html>

<style>
   .hcSquare{
    height: 180px;
    width: 200px;
    background-color: white;
   }


</style>

<head>
    <title>NotFlix Login</title>
</head>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="wrapper">
        <div class="titleRectangle">
            <h1> NotFlix Login</h1>
        </div>
        <% if(remainingAttempts > 0){ %>
        <form action="/login" method="post">
            <div class="hcSquare">

                    <label> Username: </label>
                    <input type="text" placeholder="Enter Username" id="username" name="username" required>
                    <br>
                    <label>Password: </label>
                    <input type="password" placeholder="Enter Password" id="password" name="password" required>
                    <input type="checkbox" class="showPassButton" onclick="showPassword()">

                    <br>
                    <button type="submit"> Login</button>
                    <input type="checkbox" check="checked"> Remember Me

                    <!--Remove hidden input later-->
                    <input type="hidden" id="remainingAttempts" name="remainingAttempts" value="<%= remainingAttempts %>">
                    
                        <br><br>
                    <!--  div class="subText"> New to Notflix?: <a href="./signup.html"> Sign up</a></div>  -->
                    <nav>
                        <a href="/signup">Sign up</a>
                    </nav>
            </div>
            <% }else{ %>
                <div class="hcSquare">
                    <p>Too many failed login attempts.</p>
                    <p>Try again later</p>
                </div>
            <% } %>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>

<script>

    function showPassword(){
      var pwd = document.getElementById("password");
      if (pwd.type == "password") {
        pwd.type = "text";
      }
      else {
        pwd.type = "password";
      }
    }

  /*  function grabCredentials() {
        var nameTxt = document.getElementById("username");
        var passTxt = document.getElementById("password");
        var credentials = [["user", "pass"]];
        if (nameTxt.value == credentials[0][0] && passTxt.value == credentials[0][1]) {
            console.log("Success");
        } else {
            console.log("Fail");
        }
        nameTxt.value = "";
        passTxt.value = "";
    }

    function grabCredentialsV2() {
        var nameTxt = document.getElementById("username");
        var passTxt = document.getElementById("password");
        var credentials = [{username:"user", password:"pass"},{username:"abc", password:"123"},{username:"cat", password:"mouse"},{username:"guy", password:"guy"}]
        var loggedInUser = "";
        for (let u in credentials){
            if(nameTxt.value == credentials[u].username && passTxt.value == credentials[u].password){
                loggedInUser = credentials[u].username;
                break;
            }
        }
        if(loggedInUser != ""){
            console.log(loggedInUser + " logged in");
        }else{
            console.log("error logging in");
        }
        nameTxt.value = "";
        passTxt.value = "";
    } 

    function grabCredentialsV3() {
        var nameTxt = document.getElementById("username");
        var passTxt = document.getElementById("password");
        var credentials = {
            user:"pass",
            abc:"123",
            cat:"mouse",
            guy:"guy",
        }
        if(credentials[nameTxt.value] != undefined){
            if(credentials[nameTxt.value] == passTxt.value){
                console.log(nameTxt.value + " logged in");
            }else{
                console.log("error logging in");
            }
        }else{
            console.log('no such user');
        }


        nameTxt.value = "";
        passTxt.value = "";
    }*/
</script>


</html>