<html>

<head>
  <title>Notflix Registration</title>
</head>


<style>

.signupButton{
  padding: 10px 24px;
  margin-top: 15px;
}

</style>

<body>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>

  <div class="wrapper"> <!-- Set Wrapper Class for centering-->
    <form action="/createUser" method="post">

      <!-- Create username and password box -->

      <div class="square">
        <label> First Name: </label>
        <input type="text" placeholder="Enter your first name" id="firstName" name="firstName" required>
        <label> Last Name: </label>
        <input type="text" placeholder="Enter your last name" id="lastName" name="lastName" required>
        <label> Username: </label>
        <input type="text" placeholder="Create a Username" id="username" name="username" pattern="(?=.*\d)(?=.*[a-z])(?=.*[@$!%*?&])(?=.*[A-Z]).{8,}" required>
        <label> Email: </label>
        <input type="text" placeholder="Enter your email" id="email" name="email" required>
        <br>
        <label for="password" placeholder="Create a Password">Password</label>
        <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[@$!%*?&])(?=.*[A-Z]).{10,}" required>

        <center>
          <button class ="signupButton" onClick="storeUserPass()" type="submit"> Sign Up</button>
        </center>
      </div>

    </form>

      <!-- Create password req box, set to appear when clicked-->

  <div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>
</div>
<%- include('./partials/footer.ejs') %>

    <!-- End HTML, begin JS -->

  <script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    myInput.onfocus = function () {
      document.getElementById("message").style.display = "block";
    }

    myInput.onblur = function () {
      document.getElementById("message").style.display = "none";
    }

    myInput.onkeyup = function() {
      var lowerCaseLetters = /[a-z]/g;

      if(myInput.value.match(lowerCaseLetters)){
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else{
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }
// ---------------------------------------------------

      var upperCaseLetters = /[A-Z]/g;

      if(myInput.value.match(upperCaseLetters)){
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else{
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }
// --------------------------------------------------

      var numbers = /[0-9]/g;

      if(myInput.value.match(numbers)){
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else{
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

// -------------------------------------------------
      if(myInput.value.length >= 8){
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else{
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }


// ----------Begin Username/Password Saving Function-------

    function storeUserPass() {
      var nameTxt;
      var passTxt;
      nameTxt = document.getElementById("username").value;
      passTxt = document.getElementById('password').value;
      if(nameTxt != "" && passTxt != ""){
      console.log(nameTxt , passTxt);
      }
    }
  </script>



</body>





</html>