
<%- include('./partials/head.ejs') %>
<%- include('./partials/userCheck.ejs') %>
<head>
    <title>Upload Help</title>
</head>

<body>
    <div class="center", style="width:500px;">
        <%- include('./partials/nav.ejs') %>
        
        <div class="hcSquare">
            <p>Title: Put any combination of characters here</p>
            <br>
            <p>Video ID: Put the characters of a youtube link at the end following the characters "?v=". For example</p>
            <img src="/images/idHelp.PNG">
            <br>
            <p>Genre: Select one of the supported genres from the dropdown menu</p>
            <br>
            <p>Description: Put any combination of characters here</p>
            <br>
        </div>
    </div>
</body>